body {
    overflow: hidden;
    margin: 0;
}

.tutorial {
    position: absolute;
    font-size: 1.1rem;
    background: black;
    color: white;
    bottom: 50px;
    left: 50px;
    padding: 0.8rem 1rem;
}

.arrows {
    font-size: 0.9rem;
    padding-left: 0.5rem;
}

.buttons {
    font-size: 0.95rem;
}

button {
    border: none;
    text-decoration: underline;
    font-size: 0.9rem;
    color: white;
    background-color: black;
    cursor: pointer;
    text-align: left;
    word-wrap: normal;
    white-space: nowrap;
}

canvas {
    border: 20px solid grey;
}
